* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

.inscription {
  position: relative;
  color: #404040;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }
  .inscription::before {
    display: block;
    position: absolute;
    top: 50%;
    left: -120px;
    content: '';
    width: 100px;
    border: 2px dashed #404040;
    border-top: none; }
  .inscription::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -120px;
    content: '';
    width: 100px;
    border: 2px dashed #404040;
    border-top: none; }

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #201f1f; }

.top-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 1180px;
  margin: 0 auto; }

.logo {
  font-size: 0;
  text-decoration: none;
  white-space: nowrap; }
  .logo__icon {
    display: inline-block;
    width: 24px;
    height: 27px;
    margin-right: 10px;
    background: url(/images/logo-icon.png);
    background-position: 0 0; }
  .logo__name-struc {
    font-family: 'Helvetica-Th';
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase; }
  .logo__name-ture {
    font-family: 'Helvetica-Bd';
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase; }

.nav__item {
  display: inline-block;
  margin-right: 25px;
  color: #ffffff;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none; }
  .nav__item:last-child {
    margin-right: 0; }
  .nav__item:hover {
    color: #eec400; }

.top__lock-icon {
  display: inline-block;
  width: 11px;
  height: 13px;
  margin-right: 10px;
  background: url(/images/lock_search.png);
  background-position: 0 -13px;
  cursor: pointer; }

.top__search-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(/images/lock_search.png);
  background-position: 0 0;
  cursor: pointer; }

.slider {
  position: relative;
  padding: 100px 0;
  background: url(/images/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.slider__container {
  display: block;
  max-width: 1180px;
  margin: 0 auto; }

.slider__slide {
  display: inline-block; }

.slider__inscription {
  display: block;
  color: #ffffff;
  font-family: 'Roboto-Light';
  font-size: 36px;
  text-transform: uppercase; }

.slider__title-dream {
  font-family: "Roboto-Black";
  font-size: 104px;
  font-weight: 400;
  color: #eec400;
  text-transform: uppercase; }

.slider__title-house {
  font-family: "Roboto-Black";
  font-size: 104px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase; }

.slider__subtitle {
  display: block;
  font-family: 'Raleway-Light';
  font-size: 36px;
  color: #ffffff; }

.slider__text {
  max-width: 750px;
  color: #ffffff;
  font-family: 'Raleway-Light';
  font-size: 14px; }

.slider__arrow-left,
.slider__arrow-right {
  position: absolute;
  padding: 4px 5px 5px 5px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  cursor: pointer;
  z-index: 1; }
  .slider__arrow-left:hover,
  .slider__arrow-right:hover {
    color: #eec400;
    border: 1px solid #eec400; }

.slider__arrow-left {
  left: -10%;
  top: 50%; }

.slider__arrow-right {
  top: 50%;
  right: -10%; }

.slider__dots {
  padding: 0; }

.slider__dots li {
  display: inline-block;
  list-style-type: none; }

.slider__dots button {
  font-size: 0;
  line-height: 0;
  color: transparent;
  background: transparent;
  border: none;
  cursor: pointer; }
  .slider__dots button::before {
    display: block;
    content: '';
    width: 20px;
    height: 5px;
    background-color: #eec400;
    -webkit-border-radius: 20%;
            border-radius: 20%;
    -webkit-transition: .5s;
    transition: .5s; }

.slick-active button::before {
  width: 40px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s; }

.button {
  display: inline-block;
  width: 270px;
  height: 70px;
  font-family: 'Roboto-Black';
  font-size: 18px;
  color: #404040;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }
  .button__slide {
    background-color: #eec400; }
  .button__arrow {
    margin-left: 20px;
    font-size: 16px;
    color: #404040; }

.contact-us {
  padding: 100px 0;
  background: url("/images/construction.png"); }

.contact-us__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-us__title {
  color: #404040;
  font-family: "Roboto-Black";
  font-size: 36px;
  text-transform: uppercase; }

.contact-us__subtitle {
  color: #404040;
  font-family: 'Raleway-Light';
  font-size: 14px;
  font-weight: 400; }

.contact-us__button {
  color: #ffffff;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  text-transform: uppercase;
  background-color: #404040; }
  .contact-us__button .button__arrow {
    color: #fff; }

.features {
  padding: 100px 0; }

.features__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.features__title-black {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404040; }

.features__title-yellow {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #eec400; }

.features__text {
  max-width: 850px;
  color: #626262;
  font-family: 'Raleway-Light';
  font-size: 14px;
  font-weight: 400;
  text-align: center; }

.feature-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 50px; }

.feature__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  min-height: 370px;
  padding: 60px 15px;
  border: 2px solid #eec400; }
  .feature__item-text {
    text-align: center; }
  .feature__item:hover {
    background-color: #eec400; }
  .feature__item:hover,
  .feature__item:hover a,
  .feature__item:hover .fa {
    color: #fff; }

.feature__item > .fa {
  color: #404040;
  font-size: 60px;
  font-weight: 400; }

.skills {
  padding: 100px 0; }

.skills__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.skills__title-black {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404040; }

.skills__title-yellow {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #eec400; }

.skill-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 100px; }

.skill__icon {
  display: inline-block;
  margin-right: 20px;
  background: url(/images/skills.png);
  background-repeat: no-repeat; }

.skill__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 335px;
  margin-bottom: 50px; }
  .skill__item:nth-child(1) .skill__icon {
    background-position: 0 0;
    width: 42px;
    height: 31px; }
  .skill__item:nth-child(2) .skill__icon {
    background-position: 0 -31px;
    width: 42px;
    height: 33px; }
  .skill__item:nth-child(3) .skill__icon {
    background-position: 0 -64px;
    width: 42px;
    height: 42px; }
  .skill__item:nth-child(4) .skill__icon {
    background-position: 0 -106px;
    width: 38px;
    height: 42px; }
  .skill__item:nth-child(5) .skill__icon {
    background-position: 0 -148px;
    width: 36px;
    height: 43px; }
  .skill__item:nth-child(6) .skill__icon {
    background-position: 0 -191px;
    width: 36px;
    height: 43px; }

.skill__item-content {
  width: 260px; }

.skill__item-title-regular,
.skill__item-title-black {
  color: #404040;
  font-size: 18px;
  text-transform: uppercase; }

.skill__item-title-regular {
  font-family: "Roboto-Regular";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }

.skill__item-title-black {
  font-family: "Roboto-Black";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }

.projects__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.projects__title-black {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404040; }

.projects__title-yellow {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #eec400; }

.projects__text {
  color: #626262;
  font-family: 'Raleway-Light';
  font-size: 14px;
  font-weight: 400;
  text-align: center; }

.projects__tabs {
  margin-top: 60px; }

.projects__tab-item {
  margin-right: 20px;
  color: #404040;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: 300;
  text-decoration: none; }
  .projects__tab-item:hover {
    color: #eec400;
    border-bottom: 1px solid #eec400; }
  .projects__tab-item:last-child {
    margin-right: 0; }

.projects__slider {
  margin-top: 30px;
  margin-bottom: 60px; }

.projects__slide {
  width: 400px;
  height: 400px; }

.slick-slide:hover .projects__slide-hover {
  opacity: 1; }

.projects__slide-hover {
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: rgba(238, 196, 0, 0.7);
  opacity: 0; }

.projects__slide-hover .fa {
  position: absolute;
  padding: 8px 10px 10px 10px;
  color: #fff;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  cursor: pointer; }

.projects__slide-hover .fa-search {
  left: 30px;
  bottom: 30px;
  border: 1px solid #fff; }

.projects__slide-hover .fa-link {
  left: 80px;
  bottom: 30px;
  background-color: #404040; }

.button__all-works {
  margin-bottom: 100px;
  background-color: #eec400; }

.team-slider__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.team-slider__title-black {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404040; }

.team-slider__title-yellow {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #eec400; }

.team-slider__text {
  color: #626262;
  font-family: 'Raleway-Light';
  font-size: 14px;
  font-weight: 400;
  text-align: center; }

.team-slider__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.team-slider__slides {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px; }

.team-slider__slide {
  position: relative;
  width: 320px;
  height: 475px;
  margin: 0 20px;
  border: 20px solid #eec400;
  cursor: pointer; }
  .team-slider__slide:hover .team-slider__slide-hover {
    display: block; }

.team-slider__member-photo {
  position: absolute;
  left: -20px;
  bottom: -20px; }

.team-slider__slide-hover {
  display: none;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 320px;
  height: 475px;
  padding: 10px;
  border: 25px solid #404040;
  background-color: rgba(238, 196, 0, 0.7); }

.team-slider__member-name-bold,
.team-slider__member-name-regular {
  text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.05);
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Roboto-Black"; }

.team-slider__member-name-regular {
  font-family: "Roboto-Regular"; }

.team-slider__member-position {
  color: #404040;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  text-transform: uppercase; }

.team-slider__social-icons {
  position: absolute;
  bottom: 10px; }
  .team-slider__social-icons .fa {
    padding: 5px;
    border: 1px solid #404040;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    color: #404040;
    font-size: 14px;
    cursor: pointer; }
  .team-slider__social-icons .fa-facebook,
  .team-slider__social-icons .fa-tumblr {
    padding: 5px 8px; }

.feedback__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  margin: 50px auto; }

.feedback__title-black {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404040; }

.feedback__title-yellow {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #eec400; }

.feedback__text {
  margin-bottom: 130px;
  color: #626262;
  font-family: 'Raleway-Light';
  font-size: 14px;
  font-weight: 400;
  text-align: center; }

.f-slider__arrow-up,
.f-slider__arrow-down {
  position: absolute;
  right: -50px;
  padding: 10px;
  border: 2px solid #404040;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  font-size: 24px;
  z-index: 2;
  cursor: pointer; }

.feedback__container .slick-disabled {
  color: #b6b6b6;
  border: 2px solid #b6b6b6; }

.feedback__author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.feedback__author-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.feedback__author-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background: url(/images/avatar.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-border-radius: 100%;
          border-radius: 100%; }

.feedback__author-name {
  color: #626262;
  font-family: "Roboto-Black";
  font-size: 18px;
  text-transform: uppercase; }

.feedback__author-position {
  color: #626262;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase; }

.feedback__rate .fa {
  color: #eec400; }

.subscribe__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 165px; }

.subscribe__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.subscribe__inscription {
  display: block;
  position: relative;
  color: #404040;
  font-family: 'Roboto-Regular';
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase; }
  .subscribe__inscription:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    width: 200px;
    border: 2px dashed #404040;
    border-top: 0; }

.subscribe__title-black {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404040; }

.subscribe__title-yellow {
  font-family: "Roboto-Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #eec400; }

.subscribe__input-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border: 1px solid #404040;
  color: #878787;
  font-family: 'Raleway-Regular';
  font-size: 14px;
  font-weight: 400; }
  .subscribe__input-form input {
    width: 400px;
    padding: 10px;
    border: none; }
  .subscribe__input-form a {
    width: 150px;
    padding: 15px;
    color: #404040;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: 700;
    background-color: #eec400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center; }

.separator {
  width: 100%;
  height: 28px;
  margin: 0 auto;
  background: url(../images/separator.png);
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  padding: 100px 0;
  background: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0 auto; }

.footer-logo .logo__icon {
  background-position: 0 27px; }

.footer-logo .logo span {
  color: #eec400; }

.footer-logo__text {
  width: 270px;
  margin-right: 20px;
  color: #ffffff;
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px; }

.footer-services {
  width: 220px; }

.footer-services__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto-Black";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase; }

.footer-services__items a {
  display: block;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: "Raleway-Light";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none; }
  .footer-services__items a::before {
    position: absolute;
    top: 2.5px;
    left: -10px;
    display: block;
    content: '';
    border-style: solid;
    border-width: 2.5px 0 2.5px 5px;
    border-color: transparent transparent transparent #ffffff; }

.recent-tweets {
  width: 260px; }

.recent-tweets__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto-Black";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase; }

.tweet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  .tweet .fa-twitter {
    color: #8e91ff;
    margin-right: 10px; }
  .tweet p {
    color: #fff;
    margin: 0; }
  .tweet span {
    display: block;
    color: #fff;
    margin-top: 20px; }
